{% load custom_tags %}

<ul dir="rtl">
    {% for category in categories %}
        <li>
            <a class="dropdown-item" href="{% url 'category_detail' pk=category.pk %}">{{ category.name }}</a>
            {% if category.nested_category.all %}
                <ul><div class="dropdown-submenu">
                    <li><a href="#">{% show_categories categories=category.nested_category.all depth=depth %}</a></li>
                </div></ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<!-- <div class="collapse navbar_collapse" id ="navbar_Responsive">
    <ul class="navbar-nav ml-auto">
        {% for cat in categories %}
        {% if cat in parent_category == None %}
        <li class="nav_item ">
            <a class="nav_link" href="{url 'category' }" >{{cat.name}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</div> -->
