{% load custom_tags %}

<ul dir="rtl">
    {% for category in categories %}
        <li>
            <a class="dropdown-item" href="{% url 'category_detail' pk=category.pk %}">{{ category.name }}</a>
            {% if category.nested_category.all %}
                <ul><div class="dropdown-submenu">
                    <li><a href="#">{% show_categories categories=category.nested_category.all depth=depth %}</a></li>
                </div></ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

