
{%extends 'base.html'%}
{% load static %}
{%block content%}

<div class="container  p-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">ورود</h4>
                </div>
                <div class="card-body text-center">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <h2 class="text-center p-4">ورود به حساب کاربری</h2>
                        <br>
                    
                        <div class="ml-auto">
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <br>
                                    <br>
                                    {% if field.errors %}
                                        <small>{{ field.errors|striptags }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary p-2">ورود</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
