{% extends 'base.html'%}
{% load static %}
<!-- {% load custom_tags %} -->
{% block content %}
<div class="container py-5">
    <div class="row">



        <div class="col-lg-10 p-2">

            <div class="row">
                {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            {% for image in images %}
                            {% if image.product == product %}
                            <img src="{{ image.image.url }}" alt="{{ product.name }} Image">
                            {% endif %}
                            {% endfor %}
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="shop-single.html"><i
                                                class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                                class="far fa-eye"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'product_detail' pk=product.pk %}" class="h3 text-decoration-none">{{product.name}}</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li></li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0">{{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
        <div class="col-lg-2" dir="rtl">
            <h1 class="h2 pb-4">فیلتر</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        دسته بندی
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="{% url 'man_category'%}">مردانه</a></li>
                        <li><a class="text-decoration-none" href="{% url 'woman_category'%}">زنانه</a></li>
                        <li><a class="text-decoration-none" href="{% url 'child_category'%}">بچه گانه</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}