{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <img class="img-fluid" src="{% static './assets/imag/Poshakchi-Banner-Main-Page-3-1024x576.jpg' %}" alt="">

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <img class="img-fluid" src="{% static './assets/imag/Poshakchi-Banner-Main-Page-4-1024x576.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">

                        <img class="img-fluid" src="{% static './assets/imag/Poshakchi-Banner-Main-Page-5-1024x576.jpg' %}" alt="">

                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container ">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1"> دسته بندی </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'man_category'%}"><img src="{% static './assets/imag/images1.jpg' %}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">لباس مردانه</h5>
                
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'woman_category'%}"><img src="{% static './assets/imag/16768206464118.jpg' %}" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">لباس زنانه</h2>
                
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'child_category'%}"><img src="{% static './assets/imag/4fb48420-81f0-11ee-8717-ef7161f86199.jpg' %}"
                        class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">لباس بچه گانه</h2>
                
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">جدیدترین ترمه</h1>
                </div>
            </div>
            <div class="row">
                {% for product in newest_products %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card  rounded-0">
                        
                            {% for image in images %}
                            {% if image.product == product  %}
                           
                            <img src="{{ image.image.url }}" alt="{{ product.name }} Image" class="width:50%;height:50%">
                            {% endif %}
                           
                            {% endfor %}
                            
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">{{ product.price }}</li>
                            </ul>
                            <a href="{% url 'product_detail' pk=product.pk %}" class="h5 text-decoration-none text-dark text-"> {{ product.name }}</a>
                            
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
    <div class="container text-center p-4 m-4">
    <div class="row p-2">
        <div class="col-12 col-md-4 mb-4 ">

            <a href="/page/free-delivery/" class="c-usp-section__item"><img
                        class="c-usp-section__image" src="https://www.digistyle.com/static/files/c968eac8.svg"
                        alt="تحویل سریع و آسان" width="150">
                    <div class="c-usp-section__title m-2">تحویل سریع و آسان</div></a>
            
        </div>
        <div class="col-12 col-md-4 mb-4">

                <a href="/page/return-policy/" class="c-usp-section__item"><img class="c-usp-section__image"
                        src="https://www.digistyle.com/static/files/bc93f765.svg" alt="۱۴ روز ضمانت بازگشت کالا" width="150">
                    <div class="c-usp-section__title m-2">۱۴ روز ضمانت بازگشت کالا</div>
                </a></div>
  
        <div class="col-12 col-md-4 mb-4">
                <a href="/page/guarantee-of-origin/" class="c-usp-section__item"><img class="c-usp-section__image"
                        src="https://www.digistyle.com/static/files/bafc4f4a.svg" alt="ضمانت اصل بودن کالا" width="150">
                    <div class="c-usp-section__title m-2">ضمانت اصل بودن کالا</div>
                </a></div>
        
    </div>
</div>

{% endblock %}